/*DEBUGGER */
/** {
  outline: 1px solid red;
}*/

/***************************************************/
/********UNIVERSAL STYLES: ACROSS ALL PAGES*********/
/*Specific styles are labeled by Page Name below*/
:root {
  --font-family: lulo-one, Helvetica, sans-serif;
  --grape: rgb(137, 69, 246);
  --magenta: rgb(235, 87, 247);
  --lavender: rgb(204, 138, 248);
  --aluminum: rgb(169, 169, 169);
  --white: #fff;
  --black: #000;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/*Centers Images*/
img {
  margin: 0 auto;
  border-radius: 8px;
}

.working-on-it {
  width: auto;
  height: 100%;
}

/*Made to hold single images for flex control*/
.global-image-container {
  padding: 0.5%;
}

/*Made as a global flex container for content*/
.flex-box {
  display: flex;
}

h3 {
  font-family: var(--font-family);
  margin: 2% auto;
  font-size: 2em;
  text-align: center;
  color: var(--white);
}

p,
ul,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-size: 1em;
  color: var(--white);
}

a {
  color: var(--aluminum);
}

a:hover {
  color: var(--magenta);
}

/*specific to navigation pages*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(55vh - 10px);
  margin-left: auto;
  margin-right: auto;
  max-width: 88%;
}

iframe {
  margin: 2%;
}

.main-nav-btn {
  height: 40vh;
  width: auto;
  transition: transform 0.5s ease-in-out;
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin: 0 10px;
}

.main-nav-btn:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  margin-top: 5%;
  padding: 1% 5%;
  box-shadow: 0 -7px #cc8af8, 0 -14px #8945f6, 0 -21px #cc8af8;
  z-index: 1;
}

footer a {
  color: #cc8af8;
}

footer a:hover {
  color: #eb57f7;
}

.footer-nav {
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav a {
  padding: 0 5px;
  color: var(--magenta);
}

.footer-nav a:hover {
  color: var(--lavender);
}

.footer-quote {
  text-align: center;
  font-weight: 700;
}

.footer-quote p {
  color: var(--magenta);
}

.footer-left-side {
  font-weight: 500;
  text-align: center;
}

.footer-left-side p {
  color: var(--lavender);
}

.footer-right-side {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: var(--lavender);
}

/*******************Curator Instagram feed***********/

.crt-widget .crt-load-more {
  color: var(--aluminum) !important;
  border: 2px solid var(--lavender) !important;
  border-radius: 14px;
}

.crt-load-more:hover {
  color: var(--magenta) !important;
}

/*******************************************************/
/********PAGE SPECIFIC STYLES:**************************/
/*******************************************************/

/***************************************************/
/******INKBUS Tattoo Page and Associated Pages******/
/***************************************************/

/***********index.html***************/
.main-background {
  background: linear-gradient(to bottom, #8945f6, #eb57f7);
  background-repeat: no-repeat;
}

#inkbus-main-header-image {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  gap: 3%;
  width: 100%;
  height: 25vh;
  position: sticky;
  top: 0;
  background-image: url("https://res.cloudinary.com/diyrbemqw/image/upload/v1681080983/inkbus-tattoo-main/inkbusMainHeader_mo7kog.webp");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 7px #cc8af8, 0 14px #8945f6, 0 21px #cc8af8;
  z-index: 1;
}

/*Enables hover effect on aboutInkBus page; disallows in index*/
.hoverable:hover {
  filter: brightness(150%);
}

h1 {
  margin: 0 auto;
  color: var(--white);
}

h2 {
  margin-bottom: 1%;
}

#header-title {
  height: 14vh;
  width: auto;
}

#header-subtitle {
  height: 7vh;
  width: auto;
}

/*Controlling different colored hyper link in Footer*/
#about-page-link {
  color: #cc8af8;
}

#about-page-link:hover {
  color: #eb57f7;
}

/**********aboutInkBus.html*********/
/*This is shared by all info driven pages i.e.,not <nav>*/
.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
  padding-bottom: 3%;
  flex-wrap: wrap;
  margin: 5% auto;
  max-width: 88%;
}

/*An ID to add to information-container for short pages*/
#contact-height-calc {
  height: calc(50vh - 10px);
}

#mobile-about-height-calc {
  height: auto;
  align-items: normal;
}

#mobile-about-gallery-container {
  height: auto;
  max-width: 100%;
  flex-direction: column;
}

#mobile-services-height-calc {
  height: calc(120vh - 10px);
}

#mobile-calender-height-calc {
  width: auto;
  height: initial;
}

#mobile-innerP-container {
  max-width: 1150px;
  height: auto;
}

#island-about-height-calc {
  height: calc(70vh - 10px);
}

#island-artists-height-calc {
  width: auto;
  flex-direction: column;
}

#mothership-height-calc {
  width: auto;
  height: 50vh;
}

/* Set the width of the image container */
.main-about-image-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 2%;
}

/* Make the text container fill the remaining space */
.main-about-info {
  text-align: center;
  margin-bottom: 20%;
  padding: 2%;
  border: 5px solid var(--grape);
  border-radius: 14px;
}

.main-about-info p {
  margin-bottom: 2%;
}

.main-about-img {
  width: auto;
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin: 0 auto;
}

/************************************************/
/********INKBUS Mobile and Associated Pages******/
/************************************************/

/*****************mobile.html********************/
.mobile-background {
  background: linear-gradient(to bottom, #020104, #6032c8);
  background-repeat: no-repeat;
}

.inkbus-mobile-header-image {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
  height: 25vh;
  position: sticky;
  top: 0;
  background-image: url("https://res.cloudinary.com/diyrbemqw/image/upload/v1681087070/inkbus-mobile/MobileHeader_l4dsg9.png");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 7px #cc8af8, 0 14px #8945f6, 0 21px #cc8af8;
  z-index: 1;
}

.inkbus-mobile-header-image:hover {
  filter: brightness(200%);
}

#mobile-calendar-header-nosticky {
  position: relative;
}

.mobile-nav-img {
  height: 40vh;
  width: auto;
  transition: transform 0.5s ease-in-out;
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin: 0 5px;
}

.mobile-nav-img:hover {
  transform: scale(1.1);
}

.full-size {
  display: initial;
}

.mini-size {
  display: none;
}

/*****************aboutMobile.html********************/

/*control h1 tags of EventFlash and Custom Work*/
#mobile-about-height-calc h1 {
  font-size: 2.5em;
}

/* Set the width of the image container */
.mobile-about-float {
  flex: 1 0 40%;
  border-right: 5px solid var(--magenta);
  padding-right: 10%;
}

/* Make the text container fill the remaining space */
.mobile-about-info {
  color: var(--white);
}

.mobile-about-img {
  border: 5px solid var(--grape);
  border-radius: 14px;
  transition: transform 0.5s ease-in-out;
}

.mobile-about-img:hover {
  transform: scale(1.05);
}

.mobile-about-galleries-nav {
  flex: 1 0 40%;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
  justify-content: normal;
  padding-left: 10%
}

.mobile-about-galleries-nav a {
  white-space: nowrap;
  border: 5px solid #9538ff;
  border-radius: 14px;
  background-image: radial-gradient(circle farthest-side, #cc8af8, #eb57f7);
  margin: 5%;
  padding: 1%;
  max-width: 20rem;
  transition: transform 0.5s ease-in-out;
}

.mobile-about-galleries-nav a:hover {
  transform: scale(1.05);
}

/*****aboutMobile-EventFlash and Mobile-CustomWork*********/
.mobile-about-galleries {}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  height: auto;
}

.gallery a {
  display: block;
  margin: 10px;
  border: 5px solid var(--grape);
  border-radius: 14px;
}

.gallery img {
  height: 120px;
  width: 120px;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  z-index: 3;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: var(--white);
  background-color: var(--grape);
  border: 5px solid var(--lavender);
  border-radius: 14px;
  padding: 10px 15px;
  cursor: pointer;
}

.back-to-top {
  background-color: var(--black);
  padding: 2%;
  margin: 5% auto;
  border: 2px solid var(--lavender);
  border-radius: 14px;
  text-decoration: none;
}

/***********contactMobile.html***************/
.mobile-contact-title {
  color: var(--white);
  font-size: 2em;
  margin-bottom: 2%;
  text-align: center;
  flex: 0 0 25%;
  margin-right: 1%;
}

.mobile-contact-float {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mobile-contact-image-container {
  margin-right: 1%;
  flex: 0 0 33%;
}

.mobile-contact-img {
  border: 5px solid var(--grape);
  border-radius: 14px;
  height: 45vh;
  width: auto;
}

.mobile-contact-img:hover {
  filter: brightness(150%);
}

.mobile-contact-info {
  color: var(--white);
  flex: 0 0 32%;
}

.mobile-contact-info p {
  margin-bottom: 2%;
}

/***************servicesMobile.html*********/
.mobile-services-img {
  width: auto;
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin: 0 auto;
}

.mobile-services-info {
  margin-bottom: 20%;
}

.mobile-services-info p {
  text-align: center;
}

.mobile-services-list-container {
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin-top: 2%;
  padding: 1% 0 2% 4%;
}

.mobile-services-list {
  columns: 3;
  column-gap: 5%;
}

.mobile-services-list-container h4 {
  margin-bottom: 2%;
}

/***************eventCalendar.html*******************/
.mobile-calendar-title-box {
  margin-bottom: 5%;
  text-align: center;
}

.mobile-calendar-title {
  font-size: 3rem;
}

.mobile-calendar-subtitle {
  color: var(--magenta);
}

.mobile-calendar-flash-aside {
  flex: 1 0 20%;
}

.mobile-calendar-flash-aside:hover {
  filter: brightness(125%);
}

.mobile-calendar-float {
  flex: 1 0 66%;
  margin-left: 5%;
}

.mobile-calendar-float div iframe {
  width: 45rem;
  height: 30rem;
  margin: 0 auto;
}

.mobile-calendar-float div {
  position: relative;
  display: block;
  width: 100%;
}

/*.mobile-calendar-insta-box {
  align-items: flex-start;
  max-width: 88%;
  justify-content: center;
}*/

.mobile-calendar-insta {
  margin-top: 5%;
  z-index: 0;
}

/***************innerPortraits.html*******************/
.mobile-innerP-info {
  max-width: 900px;
  padding: 2%;
  margin: 2%;
  border: 5px solid var(--grape);
  border-radius: 14px;
}

.innerP-gallery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% auto;
}

.innerP-gallery-box::after {
  content: "";
  flex-basis: 200px;
}

.innerP-gallery-box picture {
  flex: 0 1 200px;
  position: relative;
  margin: 2% auto;
}

.innerP-gallery-box picture img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 5px solid var(--magenta);
  border-radius: 14px;
}

.innerP-gallery {}
	
	/*******************************************************************/
	/****************inkBus Mothership and associated pages*******************/
	/*******************************************************************/
	.inkbus-temp-mom-header-image {
	  display: flex;
	  flex-direction: column;
	  flex-basis: 100%;
	  justify-content: center;
	  gap: 3%;
	  width: 100%;
	  height: 25vh;
	  position: sticky;
	  top: 0;
	  background-image: url("https://res.cloudinary.com/diyrbemqw/image/upload/v1707801438/inkbus-mothership/inkbusMainHeaderTemp_xbq08z.webp");
	  background-position-x: center;
	  background-position-y: top;
	  background-repeat: no-repeat;
	  background-size: cover;
	  box-shadow: 0 7px #cc8af8, 0 14px #8945f6, 0 21px #cc8af8;
	  z-index: 1;
	}

	.inkbus-temp-mom-header-image:hover {
	  filter: brightness(200%);
	}	

/************************************************/
/********island.html and Assoc Pages*********/
/************************************************/

.island-background {
  background: linear-gradient(to bottom, #fff, #9538ff);
  background-repeat: no-repeat;
}

#island-market-background {
  background-image: linear-gradient(to top, #9538ff, #fff, #9538ff);
  background-repeat: repeat-y;
}

.inkbus-island-header-image {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  gap: 3%;
  width: 100%;
  height: 25vh;
  position: sticky;
  top: 0;
  background-image: url("https://res.cloudinary.com/diyrbemqw/image/upload/v1681081728/inkbus-island/inkbus-island-main/islandHeader_fzmdri.webp");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 7px #8945f6, 0 14px #cc8af8, 0 21px #8945f6;
  z-index: 1;
}

.inkbus-island-header-image:hover {
  filter: brightness(125%);
}

/*Nav Btns for island.html*/
.island-nav-btn {
  height: 40vh;
  width: auto;
  transition: transform 0.5s ease-in-out;
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin: 0 10px;
}

.island-nav-btn:hover {
  transform: scale(1.1);
}

/****************nightMarket.html*****************/

.island-market-banner-title {
  flex: 100%;
  min-height: 4rem;
  border: 5px solid var(--magenta);
  border-radius: 14px;
  margin: 5% 2% 0 2%;
  background: var(--grape);
}

/*special header for gallery pages to scroll header*/
#island-market-header {
  position: relative;
}

.island-market-banner-title h3 {
  font-size: 2.25rem;
}

.island-market-info-aside {
  flex-direction: column;
  flex: 1 0 20%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto 2%;
}

#island-market-alignment {
  align-items: flex-start;
  height: auto;
}

.island-market-info-box {
  max-width: 88%;
  justify-content: center;
}

.island-market-info-aside h6 {
  font-size: 2em;
  text-align: center;
}

.google-map {
  position: relative;
}

.google-map iframe {
  margin: 5% auto;
}

.island-market-info-main {

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 2%;
}

.island-market-info {
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 66%;
  max-width: 700px;
  border: 5px solid var(--grape);
  border-radius: 14px;
  margin: 0 3%;
  padding: 3% 4% 2% 4%;
}

.island-market-info p {
  text-align: center;
  border-radius: 14px;
  background-color: var(--magenta);
  padding: 2%;
  margin-bottom: 3%;
}

.island-market-title {
  color: var(--white);
  font-size: 3rem;
  text-align: center;
}

.island-market-subtitle {
  font-size: smaller;
}

.island-market-info-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.island-market-info-subsection p {
  display: block
}

.island-market-info-subtitles {
  font-size: larger;
  color: var(--black);
  flex: 1 0 30%;
  white-space: nowrap;
  /*flex-direction: column;*/
}

.island-market-info-subsection p {
  font-size: smaller;
  margin: 2%;
}

.island-market-info-subsection ul {
  padding-left: 5%;
}

.island-market-info-subsection a {
  color: var(--magenta);
}

.island-market-info-subsection a:hover {
  color: var(--grape);
}

.island-market-media-btns {
  display: flex;
  flex-wrap: wrap;
  color: var(--white);
  border: 5px solid var(--magenta);
  border-radius: 50px;
  background-color: var(--grape);
  padding: 2%;
  margin: 2%;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  flex: 1 0 30%;
  white-space: nowrap;
}

.island-market-media-btns:hover {
  transform: scale(1.05);
  color: var(--grape);
  border: 5px solid var(--magenta);
  background-color: var(--lavender);
}

.island-market-media-btns img {
  filter: opacity(0.5) drop-shadow(0 0 var(--lavender));
}

.island-market-info-form-links a {
  text-align: center;
  color: var(--white);
  font-size: smaller;
}

.island-market-info-form-links a:hover {
  color: var(--grape);
}

.island-market-gallery-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% auto;
}

.island-market-gallery-box::after {
  content: "";
  flex-basis: 200px;
}

.island-market-gallery-box picture {
  flex: 0 1 200px;
  position: relative;
}

.island-market-gallery-box picture img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 5px solid var(--magenta);
  border-radius: 14px;
}

/*****************aboutIsland.html********************/
.island-about-image-container {
  float: left;
  margin-right: 2%;
  padding-top: 2rem;
}

.island-about-img {
  border: 5px solid var(--grape);
  border-radius: 14px;
  transition: transform 0.5s ease-in-out;
  height: 45vh;
  width: auto;
}

.island-about-img:hover {
  transform: scale(1.05);
}

.island-about-info {
  color: var(--white);
}

.island-about-info p a {
  color: var(--grape);
}

.island-about-info p a:hover {
  color: var(--magenta);
}

.island-info-asterix {
  font-size: smaller;
}

/**********************artistsInfo.html****************/
.island-upcoming-artists {
  flex-direction: column;
  flex-wrap: wrap;
}

.island-upcoming-artists h1 {
  font-size: 3.5em;
}

.island-past-artists {
  flex-direction: column;
  flex-wrap: wrap;
}

.island-past-artists h2 {
  font-size: 1.75em;
  color: var(--white);
}

/************************************************/
/****************MEDIA QUERIES*******************/
/************************************************/

/*****controlling the many changes needed for g-cal embed****/
@media screen and (max-width: 1237px) {
  .mobile-calendar-flash-aside input {
    width: 30vw;
    height: auto;
  }

  .mobile-calendar-float div iframe {
    width: 35rem;
  }
}

@media screen and (max-width: 998px) {
  .mobile-calendar-float div iframe {
    width: 25rem;
  }
}

@media screen and (max-width: 450px) {
  #mobile-calender-height-calc {
    flex-direction: column;
  }

  .mobile-calendar-float {
    margin: 2% auto;
  }

  .mobile-calendar-float div iframe {
    width: 20rem;
  }

  .mobile-calendar-flash-aside {
    margin: 2% auto;
  }

  .mobile-calendar-flash-aside input {
    width: 80vw;
    height: auto;
  }
}

/*Global Stylings*/
@media screen and (max-width: 768px) {
  header {
    padding: 2%;
    margin-bottom: 10%;
  }

  nav {
    flex-wrap: wrap;
    height: calc(116vh - 10px);
    justify-content: center;
  }

  footer {
    position: inherit;
    flex-wrap: wrap;
    margin: 20% auto 0 auto;
    justify-content: center;
    padding: 5%;
    flex-direction: column;
  }

  .footer-nav {}

  .footer-quote {
    display: none;
  }

  .footer-right-side {
    align-items: center;
  }

  /*Stylings relating to index.html*/
  #inkbus-main-header-image {
    height: 15vh;
    margin-bottom: 10%;
  }

  .inkbus-main-nav {
    height: 86vh;
  }

  .main-nav-btn {
    margin: auto;
  }

  .main-nav-btn:hover {
    transform: initial;
    filter: brightness(150%);
  }

  .flex-box {
    flex-direction: column;
  }

  .full-size {
    display: none;
  }

  .mini-size {
    display: initial;
  }

  /*Controls large and small size image switch for screen size*/

  /***************************************/
  /****Mobile.html and assoc pages*******/
  /*************************************/

  /*.information-container is shared by aboutMobile.html, contactMobile.html, servicesMobile.html*/
  .information-container {
    height: auto;
  }

  .inkbus-mobile-header-image {
    height: 15vh;
    margin-bottom: 10%;
    z-index: 99;
  }

  .mobile-nav {
    height: 150vh;
  }

  .mobile-nav-img {
    height: auto;
  }

  .mobile-nav-img:hover {
    transform: initial;
    filter: brightness(150%);
  }

  /*Stylings related to aboutMobile.html*/
  #mobile-about-height-calc {
    height: auto;
    flex-direction: column;
  }

  .main-about-img {
    height: 50vh;
    margin: 2% 0;
  }

  .main-about-info {
    margin-top: 1%;
    padding: 0 2% 2% 2%;
    width: auto;
  }

  .mobile-about-float {
    border-right: none;
    padding-right: 0;
    border-bottom: 5px solid var(--magenta);
    padding-bottom: 10%;
  }

  .mobile-about-galleries-nav {
    padding-top: 10%;
    padding-left: 0;
    border-bottom: 5px solid var(--magenta);
    padding-bottom: 10%;
    margin-bottom: 5%;
  }

  /*****Stylings related to EventFlash and CustomWork***/
  #mobile-about-gallery-container {
    padding: 0;
    margin: auto;
  }

  .gallery {
    max-width: 600px;
  }

  /*Stylings relating to contactMobile.html*/
  #contact-height-calc {
    height: calc(90vh - 10px);
  }

  .mobile-contact-float {
    flex-direction: column;
    margin: 0 auto 5% auto;
  }

  .mobile-contact-info {
    text-align: center;
    margin-top: 2%;
  }

  /*Stylings relating to servicesMobile.html*/
  #mobile-services-height-calc {
    height: auto;
  }

  .mobile-services-img {
    height: 50vh;
    margin: 2% 0;
  }

  .mobile-services-info {
    margin-top: 1%;
    padding: 0 2% 2% 2%;
  }

  .mobile-services-info p {
    font-size: larger;
    margin-bottom: 5%;
  }

  .mobile-services-list {
    columns: 2;
    column-gap: 8%;
    padding: 8%;
    font-size: large;
  }

  .mobile-services-list h4 {
    margin-bottom: 2%;
  }

  /*Stylings relating to eventCalendar.html*/
  #mobile-calender-height-calc {
    height: auto;
  }

  .mobile-calendar-flash-aside {
    pointer-events: none;
  }

  .mobile-calendar-flash-box {
    flex-direction: inherit;
  }

  /*Stylings relating to innerPortraits.html*/
  #mobile-innerP-container {
    flex-wrap: wrap;
  }

  #mobile-innerP-container h1 {
    padding: auto 5%;
    text-align: center;
  }

  /***************************************/
  /****Island.html and assoc pages*******/
  /*************************************/

  .inkbus-island-header-image {
    height: 15vh;
    margin-bottom: 10%;
  }

  /**Stylings relating to island.html**/
  .island-nav-btn {
    margin: auto;
    height: 29vh;
    margin: auto auto 2% auto;
  }

  .island-nav-btn:hover {
    transform: initial;
    filter: brightness(150%);
  }

  /**Stylings relating to aboutIsland.html**/
  #island-about-height-calc {
    height: auto;
  }

  .island-about-image-container {
    float: none;
    padding-top: auto;
  }

  #island-artists-height-calc {
    height: 55vh;
  }

  /**Stylings relating to nightMarket.html**/
  .island-market-info-aside {
    margin: 0 auto;
  }

  .island-market-title {
    font-size: x-large;
  }

  .island-market-info-subtitles a {
    color: var(--white);
  }

  .island-market-info-form-links a {
    color: var(--white);
  }

  .island-market-gallery-box picture {
    flex: 0 1 155px;
  }
}